In [58]:
person = {
    "first":"ahsan",
    "last":"javed",
    "email":"ahsan@email.com"
}

In [59]:
person

{'first': 'ahsan', 'last': 'javed', 'email': 'ahsan@email.com'}

In [60]:
people = {
    "first":["ahsan"],
    "last":["javed"],
    "email":["ahsan@email.com"]
}

In [61]:
people

{'first': ['ahsan'], 'last': ['javed'], 'email': ['ahsan@email.com']}

In [1]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

In [83]:
people

{'first': ['ahsan', 'jane', 'john'],
 'last': ['javed', 'Doe', 'Doe'],
 'email': ['ahsan@email.com', 'jane@email.com', 'john@email.com']}

In [64]:
peopleArray = [{"ahsan","javed","ahsan@email.com"},
               {'jane','Doe','jane@email.com'},
               {'john','Doe','john@email.com'}]

peopleArray

In [2]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)

In [3]:
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

In [67]:
df.shape

(3, 3)

In [4]:
df1 = df["first"]
df1.shape # It is one dimentional
df1

0    ahsan
1     jane
2     john
Name: first, dtype: object

In [69]:
df2 = df[["first", "last"]]
df2.shape # It is one dimentional. so use double bracket
df2

   first   last
0  ahsan  javed
1   jane    Doe
2   john    Doe

In [5]:
df.iloc[0] # iloc is index location. so gives row at index 0, it is one dimentional
df.iloc[0]

first              ahsan
last               javed
email    ahsan@email.com
Name: 0, dtype: object

In [6]:
df.iloc[0].shape  # it is one dimentional

(3,)

In [7]:
df.iloc[[0,1]]# iloc is index location. so gives row at index 0
df.iloc[[0,1]]

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com

In [8]:
df.iloc[[0,1]].shape# two column so two dimentional

(2, 3)

In [9]:
df.iloc[[0,1], [1,2]] # 0th and 1th row AND 2nd and 3rd column

    last            email
0  javed  ahsan@email.com
1    Doe   jane@email.com

In [75]:
df.loc[1] # here 1 is not index,it is name of row in index

first              jane
last                Doe
email    jane@email.com
Name: 1, dtype: object

In [10]:
df.loc[0, "last"]

'javed'

In [11]:
df.loc[[0,1], "last"]

0    javed
1      Doe
Name: last, dtype: object

In [76]:
df.loc[[0,1], ["last","email"]]

    last            email
0  javed  ahsan@email.com
1    Doe   jane@email.com

In [ ]:
##Slicing

In [12]:
df.loc[0:1, "last":"email"] #THis iis lsicing.However here we dnt give internal brackets.However this also two dimensional

    last            email
0  javed  ahsan@email.com
1    Doe   jane@email.com

In [13]:
df.loc[0:1, "last":"email"].shape

(2, 2)

## INDEX

In [3]:
df.set_index('email')

                 first   last
email
ahsan@email.com  ahsan  javed
jane@email.com    jane    Doe
john@email.com    john    Doe

In [4]:
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

In [8]:
#permanently
df.set_index('email', inplace = True)

In [9]:
df

                 first   last
email
ahsan@email.com  ahsan  javed
jane@email.com    jane    Doe
john@email.com    john    Doe