In [10]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

In [11]:
people

{'first': ['ahsan', 'jane', 'john'],
 'last': ['javed', 'Doe', 'Doe'],
 'email': ['ahsan@email.com', 'jane@email.com', 'john@email.com']}

In [12]:
import pandas as pd
df = pd.DataFrame(people)

In [30]:
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

## This ll five true and false which ll act as fast for original data

In [ ]:

filt = (df['first'] == 'john')

In [12]:
filt

0    False
1    False
2     True
Name: first, dtype: bool

In [13]:
#now apply filter
df[filt]  #how ever here we cant give secong ardument to get a specific column.so we use loc

  first last           email
2  john  Doe  john@email.com

In [15]:
df.loc[filt , 'email']

2    john@email.com
Name: email, dtype: object

In [17]:
df.loc[filt , ['first' ,'email']]

  first           email
2  john  john@email.com

In [32]:
filt = (df['first'] == 'john') | (df['first'] == 'jane')

In [33]:
filt

0    False
1     True
2     True
Name: first, dtype: bool

In [ ]:
filt = (df['first'] == 'john') & (df['first'] == 'jane')

In [35]:
filt

0    False
1     True
2     True
Name: first, dtype: bool

In [34]:
~filt ## compliment

0     True
1    False
2    False
Name: first, dtype: bool

Now large Data set

In [13]:
df = pd.read_csv('data/survey_results_public.csv' , index_col = 'Respondent')
df_schema = pd.read_csv('data/survey_results_schema.csv', index_col = 'Column')

In [14]:
df.head(2)

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [17]:
df_schema.head

<bound method NDFrame.head of                                                    QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]>

In [21]:
hight_salary_filter = (df['ConvertedComp'] > 7000)

In [22]:
hight_salary_filter

Respondent
1        False
2        False
3         True
4         True
5        False
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: ConvertedComp, Length: 88883, dtype: bool

In [23]:
df.loc[hight_salary_filter]

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88882,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Participated in online coding competitions (e....,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy

## To filter out specif counties etc froma cloumn

In [27]:
df.loc[hight_salary_filter, ['Country' , 'EdLevel', 'LanguageWorkedWith']]

,Country,EdLevel,LanguageWorkedWith
Respondent,,,
3,Thailand,"Bachelor’s degree (BA, BS, B.Eng., etc.)",HTML/CSS
4,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",C;C++;C#;Python;SQL
6,Canada,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Java;R;SQL
9,New Zealand,Some college/university study without earning ...,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
10,India,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",C#;Go;JavaScript;Python;R;SQL
...,...,...,...
88878,United States,"Bachelor’s degree (BA, BS, B.Eng., etc.)",HTML/CSS;JavaScript;Scala;TypeScript
88879,Finland,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Bash/Shell/PowerShell;C++;Python
88881,Austria,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...
88882,Netherlands,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",C#;HTML/CSS;Java;JavaScript;PHP;Python
88883,Greece,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Go;HTML/CSS;Java;JavaScript;Other(s):

In [28]:
countries = ['United States' , 'India' , 'United Kingdom' , 'Germany']

In [33]:
filter_for_countries = df['Country'].isin(countries)

In [38]:
df.loc[filter_for_countries].head()

Respondent
1     United Kingdom
4      United States
8              India
10             India
13     United States
Name: Country, dtype: object

## To filter out from string of a specific column like following

In [41]:
df['LanguageWorkedWith']

Respondent
1                          HTML/CSS;Java;JavaScript;Python
2                                      C++;HTML/CSS;Python
3                                                 HTML/CSS
4                                      C;C++;C#;Python;SQL
5              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
                               ...
88377                        HTML/CSS;JavaScript;Other(s):
88601                                                  NaN
88802                                                  NaN
88816                                                  NaN
88863    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [44]:
language_filter = df['LanguageWorkedWith'].str.contains('Python', na = False)

In [45]:
language_filter

Respondent
1         True
2         True
3        False
4         True
5         True
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: LanguageWorkedWith, Length: 88883, dtype: bool

In [49]:
df.loc[language_filter].head(4)['LanguageWorkedWith']

Respondent
1                HTML/CSS;Java;JavaScript;Python
2                            C++;HTML/CSS;Python
4                            C;C++;C#;Python;SQL
5    C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
Name: LanguageWorkedWith, dtype: object