In [2]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)

In [4]:
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

## To update or get all column names

In [7]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [14]:
df.columns = df.columns.str.replace('a', '_')
df

   first   l_st            em_il
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

In [18]:
# str mean it is applied on each elemnt
# df = df.columns = df.columns.str.upper()
# df

df.columns = [x.upper() for x in df.columns]
df.columns

Index(['FIRST', 'LAST', 'EMAIL'], dtype='object')

## To rename All columns name

In [31]:
df.rename(columns= {'first': 'first_name', 'last': 'last_name'}, inplace = True)
df

  first_name last_name            email
0      ahsan     javed  ahsan@email.com
1       jane       Doe   jane@email.com
2       john       Doe   john@email.com

## to update whole row

In [32]:
df.loc[2] = ['john'	, 'smith',	'johnsmith@email.com']
df

  first_name last_name                email
0      ahsan     javed      ahsan@email.com
1       jane       Doe       jane@email.com
2       john     smith  johnsmith@email.com

## to update specific entities of a row // ALways use loc method for update not column       name for spefic entry update

In [39]:
df.loc[[2] ,['first', 'email']] = ['james','email@email.com']
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2  james    Doe  email@email.com

In [44]:
#some times at is also ued which is same as loc BUT for single entity
df.at[2 , 'email'] = 'email@email.com'
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe  email@email.com

## to update whole column values WITHOUT apply

In [47]:
df['email'] = df['email'].str.upper() #however for advance levl we use apply
df

   first   last            email
0  ahsan  javed  AHSAN@EMAIL.COM
1   jane    Doe   JANE@EMAIL.COM
2   john    Doe   JOHN@EMAIL.COM

## Apply is applied on a column or whole data frma.If applied on a column then has effect ##ON RUN A FUNCTION on each element of column> so we can apply function like on string ##like .uper etc ......... and if on whole dataframe then RUN A FUNCTION  on each column ##or on each row  if we change index > so we can apply functions like len etc which are ##on series.

###############Apply on column##############################

In [57]:
#Apply n series i.e. each value of series
df['email'].apply(len)

0    15
1    14
2    14
Name: email, dtype: int64

In [61]:
def update_email(email):
    return email.upper()

In [64]:
df['email'] = df['email'].apply(update_email)
df

   first   last            email
0  ahsan  javed  AHSAN@EMAIL.COM
1   jane    Doe   JANE@EMAIL.COM
2   john    Doe   JOHN@EMAIL.COM

In [73]:
# or through lambda function
df['email'] = df['email'].apply(lambda x: x.upper())

###########Apply on whole data frame#############################

In [101]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)

df.apply(len) #ll give len of each column

first    3
last     3
email    3
dtype: int64

In [105]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)

df.apply(len , axis = 'columns')

0    3
1    3
2    3
dtype: int64

In [99]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)


df = df.apply(lambda x : len(x))
df

first    3
last     3
email    3
dtype: int64

In [107]:

people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)
df.apply(pd.Series.min) #pd,Series.min is applied on a serie.As we are getting series by apply on whole df
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

## map works on each entity of a dataframe

In [112]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)


df = df.map(len)
df

   first  last  email
0      5     5     15
1      4     3     14
2      4     3     14

In [113]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)


df = df.map(str.upper)
df

   first   last            email
0  AHSAN  JAVED  AHSAN@EMAIL.COM
1   JANE    DOE   JANE@EMAIL.COM
2   JOHN    DOE   JOHN@EMAIL.COM

In [119]:
# or map can be used on a series to replace entities
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)


df['first'].map({'ahsan':'ahsan javed'})
df

   first   last            email
0  ahsan  javed  ahsan@email.com
1   jane    Doe   jane@email.com
2   john    Doe   john@email.com

## replece and map are doing samedfd

In [ ]:
people = {
    "first":["ahsan", "jane","john"],
    "last":["javed","Doe", "Doe"],
    "email":["ahsan@email.com", "jane@email.com", "john@email.com"]
}

import pandas as pd
df = pd.DataFrame(people)


df['first'].replace({'ahsan':'ahsan javed'})
df